<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veggie Theme</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    @Styles.Render("~/Content/maincss")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var viewModel = ViewBag.LayoutViewModel;
    }
</head>
<body>
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Main Header -->

    <div class="wrap">
        <header class="main-header-v1">
            <div class="header-top-v-1">
                <div class="container">
                    <nav class="navigation">
                        <a href="" class="menu-toogle"></a>
                        <ul>
                            <li><a href="/">Anasayfa</a></li>
                            <li class="menu-item-has-children">
                                <a href="">Ürünler</a>
                                <ul class="sub-menu">
                                    @foreach (var item in viewModel)
                                    {
                                        <li><a href="/@RasiMarket.Data.Helper.Helper.GenerateUrl(item.Name)-c-@item.ID">@item.Name</a></li>
                                    }
                                </ul>
                            </li>
                            <li><a href="/hakkimizda">Hakkımızda</a></li>
                            <li><a href="/iletisim">İletişim</a></li>
                        </ul>
                    </nav>
                    <div class="logo">
                        <a href="/">
                            <img src="images/rasilogo.png" height="164" width="164" alt="">
                        </a>
                    </div>
                    <div class="header-top-right-v1">
                        <a class="toggle-share-alt fa fa-share-alt" href="#"></a>
                        <div class="social-links">
                            <a target="_blank" href="https://www.facebook.com/rasi.goztepe.9" class="fa fa-facebook"></a>
                            <a target="_blank" href="https://www.instagram.com/rasimarket/" class="fa fa-instagram"></a>
                            <a target="_blank" href="mailto:marketrasi@gmail.com" class="fa fa-envelope"></a>
                        </div>
                        <div class="search-form">
                            <a href="#" class="toggle-search-form"></a>
                        </div>
                    </div>
                    <form class="header-search">
                        <div class="form-content">
                            <input type="text" placeholder="Search" class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="navigation-mobile">
                <ul>
                    <li><a href="/">Anasayfa</a></li>
                    <li class="menu-item-has-children">
                        <a href="">Ürünler</a>
                        <ul class="sub-menu">
                            @foreach (var item in viewModel)
                            {
                                <li><a href="/@RasiMarket.Data.Helper.Helper.GenerateUrl(item.Name)-c-@item.ID">@item.Name</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/iletisim">İletişim</a></li>
                </ul>
            </div>
        </header>

        <!-- Main Header // -->
        @RenderBody()
        <!-- Main Footer  -->
        <footer class="main-footer">
            <div class="footer-top">
                <div class="container">
                    <!--  col -1  -->
                    <div class="col-md-3">
                        <!--  widget  -->
                        <div class="widget-2">
                            <a href="/">
                                <img src="images/rasilogo.png" height="117" width="117" class="footer-logo">
                            </a>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            </p>
                            <hr class="hr-1">

                        </div>
                        <!--  widget //  -->
                    </div>
                    <!--  col -1  // -->
                    <!--  col -2  -->
                    <div class="col-md-3">
                        <!--  widget  -->
                        <div class="widget-2">
                            <h5>Recent post</h5>
                            <ul>
                                <li><a href="#">Lorem Ipsum is simply dummy </a></li>
                                <li><a href="#">Aliquam ut magna eros</a></li>
                                <li><a href="#">Quisque feugiat commodo  </a></li>
                                <li><a href="#">Sit amet efficitur metus</a></li>
                                <li><a href="#">Sed vehicula, eros id ornare </a></li>
                                <li><a href="#">Lorem Ipsum is simply dummy </a></li>
                            </ul>
                        </div>
                        <!--  widget //  -->
                    </div>
                    <!--  col -2  // -->
                    <!--  col -3  -->
                    <div class="col-md-3">
                        <!--  widget  -->
                        <div class="widget-2">
                            <h5>Sosyal Medya</h5>
                            <div class="social-links">
                                <a target="_blank" href="https://www.facebook.com/rasi.goztepe.9" class="fa fa-facebook"></a>
                                <a target="_blank" href="https://www.instagram.com/rasimarket/" class="fa fa-instagram"></a>
                                <a target="_blank" href="mailto:marketrasi@gmail.com" class="fa fa-envelope"></a>
                            </div>
                        </div>
                        <!--  widget //  -->
                    </div>
                    <!--  col -3  // -->
                    <!--  col -4  -->
                    <div class="col-md-3">
                        <!--  widget  -->
                        <div class="widget-2">
                            <h5>İletişim Bilgileri</h5>
                            <div class="contact-details">
                                <p>
                                    <strong>Web:</strong><br>
                                    <a href="">www.rasimarket.com.tr</a>
                                </p>
                                <p>
                                    <strong>Telefon: </strong><br>
                                    <a target="_blank" href="https://wa.me/905363843000"> +90 536 384 30 00</a>
                                </p>
                                <p>
                                    <strong>Adres:</strong><br>
                                    <a target="_blank" href="https://g.page/rasimarket"> Göztepe, Mithatpaşa Cd. No:871/B, 35290  Konak, İzmir</a>
                                </p>
                            </div>
                        </div>
                        <!--  widget //  -->
                    </div>
                    <!--  col -4  // -->
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="col-md-6 footer-bottom-left">
                        @*<p> <a href="">VEGGIE</a> made with love by <a href="http://0effortthemes.com/">0effortthemes</a></p>*@
                    </div>
                    <div class="col-md-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/hakkimizda">Hakkımızda</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Main Footer //  -->
    </div>
    @Scripts.Render("~/bundles/masterpage")
</body>
</html>